.DS_Store
Grandilevskii_Aleksei_J41332c_MLT_2022_Task_1.ipynb
Grandilevskii_Aleksei_J41332c_MLT_2022_Task_2.ipynb
Grandilevskii_Aleksei_J41332c_MLT_2022_Task_3.ipynb
Grandilevskii_Aleksei_J41332c_MLT_2022_Task_4.ipynb
Grandilevskii_Aleksei_J41332c_MLT_2022_Task_5.ipynb
Lab_5/Dataset/